<!DOCTYPE html>
<html>
<head>
    <title>Sine Wave Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Sine Wave Visualizer</h1>
    
    <div id="controls-container" class="controls">
        <!-- Controls will be dynamically generated via JavaScript -->
    </div>
    
    <div class="plot-container">
        <img id="plot-image" width="100%">
    </div>
    
    <script src="{{ url_for('static', filename='js/viewer.js') }}"></script>
</body>
</html> 